body{
  background: #111;
}

#logo{
  position: absolute;
  top: 10px;
}

#img{
  height: 50px;
}

#logotext{
  position: absolute;
  left: 48px;
  bottom: -22px;
  color: white;
  font-size: 32px;
  font-family: sans-serif;
}

#contain{
  width: 1500px;
  margin: 0 auto;
  position: relative;
  display: block;
}

#canvas{
  position: relative;
  top: 10px;
  left: 200px;
  border-radius: 5px;
  overflow: hidden;
}

#palette{
  width: 160px;
  background: #262626;
  position: absolute;
  left: 10px;
  border-radius: 5px;
  bottom: 120px;
  padding: 5px;
}

.colorPick{
  position: relative;
  height: 70px;
  width: 70px;
  margin: 5px;
  border-radius: 2px;
  border: none;
  background: blue;
}
