::selection {
  background: white;
}


/* Link atrebutes, change color of links */

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: white;
}


body{
  background: #111;
}

#logo{
  position: absolute;
  top: 10px;
}

#img{
  height: 90px;
  position: absolute;
  top: -15px;
  left: -15px;
}


#contain{
  width: 1500px;
  margin: 0 auto;
  position: relative;
  display: block;
}

#canvas{
  position: relative;
  top: 10px;
  left: 200px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

#coordinates{
  background-color: white;
  height: 25px;
  padding-top: 5px;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  font-family: ubuntu;
  font-weight: 400;
  position: absolute;
  bottom: 65px;
  left: 20px;
}


#cooldown{
  background-color: white;
  height: 35px;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  font-family: ubuntu;
  font-weight: 400;
  position: absolute;
  bottom: 00px;
  left: 20px;
  padding-top: 15px;
}


#overlay{
  z-index: 5;
  position: absolute;
  top: 10px;
  left: 200px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}


#palette{
  width: 160px;
  background: #262626;
  position: absolute;
  left: 10px;
  border-radius: 5px;
  bottom: 110px;
  padding: 5px;
}

.colorPick{
  position: relative;
  height: 70px;
  width: 70px;
  margin: 5px;
  border-radius: 2px;
  border: none;
  background: blue;
  cursor: pointer;
}

.colorPick:focus{
outline: 5px solid white;
border-radius: 0px;
}

#timelapse{
  position: absolute;
  bottom: -50px;
  right: 50px;
  font-family: ubuntu;
}
#timelapse:hover{
  bottom: -48px;
}
#timelapse:active{
  bottom: -52px;
}

#timelapse_speed{
  height: 27.5px;
  width: 90px;
  position: absolute;
  bottom: -50px;
  right: 205px;
  text-align: center;
  font-family: ubuntu;
  border-radius: 4px;
  border: none;
}

#timelapse_status{
  position: absolute;
  color: white;
  font-family: ubuntu;
  bottom: -46px;
  right: 310px;
  text-align: right;
}

#save_link{
  position: absolute;
  bottom: -35px;
  left: 230px;
  font-family: ubuntu;

}


.btn{
  height: 30px;
  width: 150px;
  border: none;
  background: white;
  border-radius: 3px;

}

#about{
  position: absolute;
  bottom: 82px;
  left: 70px;
  font-family: 'Muli', sans-serif;
}
